.movie {
  background-color: rgb(25, 25, 82);
  border-radius: 5px;
  padding: 2rem;
  transition: transform 0.5s;
}
.movie:hover,
.movie:focus {
  transform: translateX(-0.5rem);
}

.movie_title {
  color: #e7e718;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.release_date {
  color: #fff;
  margin-bottom: 2.5rem;
}

.movie_description {
  font-size: 1.5rem;
  color: #fff;
  text-align: justify;
}
