.moviesList {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  list-style: none;
  padding: 1rem;
  overflow-y: scroll;
}
.moviesList::-webkit-scrollbar {
  width: 10px;
}
.moviesList::-webkit-scrollbar-track {
  background-color: rgb(217, 212, 212);
  border-radius: 10px;
}
.moviesList::-webkit-scrollbar-thumb {
  background-color: rgb(136, 132, 132);
  border-radius: 10px;
}
